/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding: 0;
}

body{
  font-family: "Roboto", sans-serif  ;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

p {
  color: rgb(85,85,85);
}


/* Transition */

a, .btn{
  transition: all 300ms ease;
}

/* Desktop NAV*/

nav,
.nav-links{
  display: flex;
}

nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a{
  color: black;
  text-decoration:none;
  text-decoration-color: white;
}

a:hover{
  display: inline-block;
  color: grey;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: rgb(181, 181,181);
  -webkit-text-decoration-color: rgb(181, 181,181);
  text-underline-offset: 1rem;
}

.logo{
  font-size: 2rem;
}

.logo:hover{
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav{
  display: none;
}

.hamburger-menu{
  position: relative;
  display: inline-block;
}

.hamburger-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span{
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li{
  list-style: none;
}

.menu-links.open{
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
  transform: none;
}

.hamburger-icon span:first-child{
  opacity: 1;
}

.hamburger-icon span:first-child{
  transform: none;
}


/* SECTIONS */

section{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 4vh;  /* same as padding-top */

}


.section-container{
  display: flex;
}

/* TEST */

section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Class to trigger animation */
section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* PROFILE SECTION */

.profile_image,
.about-pic {
  border-radius: 1rem;
}


#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  scroll-margin-top: 17vh;
}
.section__pic-container{
  display: flex;
  /*height: 400px;
  width: 400px; */
  margin: auto 0;
}

.profile_image {
  display: block;
  width: auto;
  height: auto;
  max-width: 350px;
}

.section__text{
  align-self: center;
  text-align: center;
}

.section__text p{
  font-weight: 600;
}

.section__text__p1{
  text-align: center;
}

.section__text__p2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title{
  font-size: 3rem;
  text-align: center;
}

#socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONs */

.icon{
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1, .btn-color-2{
  border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover{
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover{
  background: rgb(53,53,53);
  color: white;
}

.btn-color-1:hover{
  background: rgb(0,0,0);
}

.btn-color-2{
  background: none;
}

.btn-color-2:hover{
  border: rgb(255,255,255) 0.1rem solid;
}

.btn-container{
  gap: 1rem;
}

/* ABOUT SECTION */

#about{
  position: relative;
}

.about-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex; /* neu */
  flex-wrap: wrap; /* neu */
  justify-content: center; /* neu */
}

.about-details-container{
  justify-content: center;
  flex-direction: column;
  display: flex; /* neu */
  flex:1;  /* neu */
}

.about-containers .about-details-container{
  display: flex;
}

.arrow{
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container{
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163,163,163);
  text-align: center;
}

.section-container{
  gap: 4rem;
  height: 80%;
  align-items: center; /* neu */
}

.section__pic-container{
  height: 500px;
  width: 400px;
  margin: auto 0;
}

.section__pic-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* EXPERIENCE SECTION */

#experience{
  position: relative;
}

.experience-sub-title{
  color: rgb(85,85,85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.experience-details-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60%; /*neu*/
}

.article-container{
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article{
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon{
  cursor: default;
}

/* PROJECTS SECTION */

#projects{
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0;
  /*height: 70vh; */

}



.container.swiper {
  height: 75vh;
}

.card-wrapper{
  display: flex;
  justify-content: center;     /* centers horizontally (optional) */
  align-items: center;         /* centers vertically */
  height: 100%;
}

.card-list{
  margin: 0;
  padding: 0;
}
.card-item{
  display: flex !important;
  /*align-items: center; */       /* vertical centering */
  align-items: stretch;        /* Ensure full height alignment */
  justify-content: center;   /* horizontal centering (optional) */
  height: 100%;              /* ensures child can center within */
}

.color-container{
  border-color: rgb(163,163,163);
  background: rgb(250,250,250);
}

.project-img{
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title{
  margin: 1rem;
  color: black;
}

.project-btn{
  color: black;
  border-color: rgb(163,163,163);
}

.card-wrapper{
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px ;
  overflow: hidden;
}

.card-list .card-item .card-link{
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0,0,0,0.05);
  transition: 0.2s ease;
}


.card-list .card-item .card-link:hover {
  border-color: #5372F0;
}

.card-list .card-item .card-link:active{
  cursor: grabbing;
}

.card-list .card-item{
  list-style: none;
}

.card-text{
  padding-top: 10px;
}

.card-list .card-item .card-image{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge{
  color: #5372F0;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #DDE4FF;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title{
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372F0;
  border-radius: 50%;
  margin: 30px 0 5px ;
  background: none;
  cursor: pointer;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button{
  color: #ffffff;
  background: #5372F0;
}

.card-button img {
  width: 30px;
  height: auto;
}

.card-button {
  border: none;
  padding: 0;
}

.card-wrapper .swiper-pagination-bullet{
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: rgb(85,85,85);
}



.card-wrapper .swiper-pagination-bullet-active{
  opacity: 1;
}

.card-wrapper .swiper-slide-button{
  color: rgb(85,85,85);
  margin: -35px;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

/* Badges */

.badge-container {
  display: flex;
  flex-wrap: wrap; /* optional: wraps badges if too many */
  gap: 0.5rem;      /* optional: space between badges */
}


.card-list .card-link .badge.python{
  color: #B22485;
  background: #F7DFF5;
}

.card-list .card-link .badge.sklearn{
  color: #B25A2B;
  background: #F7DFF5;
}

.card-list .card-link .badge.marketer{
  color: #B25A2B;
  background: #ffe3d2;
}

.card-list .card-link .badge.gamer{
  color: #205C20;
  background: #d6f8d6;
}

.card-list .card-link .badge.editor{
  color: #856404;
  background: #fff3cd;
}



/* CONTACT PAGE */

#contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container{
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163,163,163);
  background: rgb(250,250,250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container{
  font-size: larger;
}

.contact-icon{
  cursor: default;
  height: 2rem;
}

.email-icon{
  height: 2.5rem;
}

/* FOOTER SECTION */

footer{
  height: 26vh;
  margin: 0 1rem;
  text-align: center;
}

